In [9]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
                                              0.0/11.6 MB ? eta -:--:--
     --                                       0.6/11.6 MB 20.1 MB/s eta 0:00:01
     -------                                  2.1/11.6 MB 22.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     -------                                  2.3/11.6 MB 21.0 MB/s eta 0:00:01
     --------                                 2.4/11.6 MB 2.7 MB/s eta 0:00:04
     ---------                                2.8/11.6 MB 3.0 MB/s eta 0:00:03
     -----------                              3.4/11.6 MB 3.5 MB/s eta 0:00:03
     -------------                            4.0/11.6 MB 4.0 MB/s eta 0:00:02
     ----------------                         4.8/11.6 MB 4.5 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     ------------------                       5.4/11.6 MB 4.9 MB/s eta 0:00:02
     -------------------                      5.6/11.6 MB 3.2 MB/s eta 0:00:02
     --------------------                     5.9/11.6 MB 3.2 MB/s eta 0:00:02
     --------------------                     6.1/11.6 MB 3.3 MB/s eta 0:00:02
     ----------------------                   6.5/11.6 MB 3.4 MB/s eta 0:00:02
     -----------------------                  6.9/11.6 MB 3.5 MB/s eta 0:00:02
     -------------------------                7.5/11.6 MB 3.7 MB/s eta 0:00:02
     --------------------------               7.8/11.6 MB 3.8 MB/s eta 0:00:02
     ---------------------------              8.1/11.6 MB 3.9 MB/s eta 0:00:01
     -----------------------------            8.5/11.6 MB 4.0 MB/s eta 0:00:01
     ------------------------------           9.0/11.6 MB 4.1 MB/s eta 0:00:01
     --------------------------------         9.4/11.6 MB 4.2 MB/s eta 0:00:01
     --------------------------------         9.4/11.6 MB 4.2 MB/s eta 0:00:01
     --------------------------------         9.4/11.6 MB 4.2 MB/s eta 0:00:01
     --------------------------------         9.4/11.6 MB 4.2 MB/s eta 0:00:01
     --------------------------------         9.4/11.6 MB 4.2 MB/s eta 0:00:01
     --------------------------------         9.5/11.6 MB 3.8 MB/s eta 0:00:01
     ---------------------------------        9.8/11.6 MB 3.9 MB/s eta 0:00:01
     -----------------------------------      10.2/11.6 MB 4.0 MB/s eta 0:00:01
     -------------------------------------    10.8/11.6 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------  11.4/11.6 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------  11.6/11.6 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------  11.6/11.6 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------  11.6/11.6 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------- 11.6/11.6 MB 3.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
                                              0.0/505.5 kB ? eta -:--:--
     ------------------------------------- 505.5/505.5 kB 10.8 MB/s eta 0:00:00
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
                                              0.0/345.4 kB ? eta -:--:--
     ------------------------------------- 345.4/345.4 kB 20.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
dados = {'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Emilly'],
         'Idade': [25, 30, 35, 40, 45],
         'Salário': [5000, 6000, 7000, 8000, 9000]}

In [19]:
import pandas as pd

df = pd.DataFrame(dados)
df

      Nome  Idade  Salário
0    Alice     25     5000
1      Bob     30     6000
2  Charlie     35     7000
3    David     40     8000
4   Emilly     45     9000

In [18]:
# Estrutura de repetição - Ex.1

i = 0

while i < len(df):
    print("Nome:", df['Nome'][i], "-Idade:", df['Idade'][i])
    i+= 1

Nome: Alice -Idade: 25
Nome: Bob -Idade: 30
Nome: Charlie -Idade: 35
Nome: David -Idade: 40
Nome: Emilly -Idade: 45

In [22]:
# Estrutura de repetição - Ex.2

i = 0 
while i < len(df):
    if df['Salário'][i] > 6000:
        print(df.iloc[i])
    i += 1

Nome       Charlie
Idade           35
Salário       7000
Name: 2, dtype: object
Nome       David
Idade         40
Salário     8000
Name: 3, dtype: object
Nome       Emilly
Idade          45
Salário      9000
Name: 4, dtype: object

In [23]:
# Estrutura de repetição - Ex.3

for salario in df['Salário']:
    print("Salário", salario)

Salário 5000
Salário 6000
Salário 7000
Salário 8000
Salário 9000

In [26]:
# Estrutura de repetição - Ex.4

for coluna in df.select_dtypes(include = ['int', 'float']):
    media = df[coluna].mean()
    print("A média de", coluna, ":", media)

A média de Idade : 35.0
A média de Salário : 7000.0

In [32]:
# Estrutura de repetição - Ex.5

dados = {'Nome': ['Alice', 'Alice', 'Charlie', 'David', 'Charlie'],
         'Carros': ['GM', 'GM', 'Ford', 'Ford', 'Ford'],
         'Salário': [5000, 6000, 7000, 8000, 9000]}

df = pd.DataFrame(dados)

for coluna in df.select_dtypes(include = ['object']):
    contagem_valores = df[coluna].value_counts()
    print("Contagem de valores únicos em", coluna, ":", contagem_valores )

Contagem de valores únicos em Nome : Nome
Alice      2
Charlie    2
David      1
Name: count, dtype: int64
Contagem de valores únicos em Carros : Carros
Ford    3
GM      2
Name: count, dtype: int64

In [35]:
print(df['Nome'].value_counts())
print(df['Carros'].value_counts())

Nome
Alice      2
Charlie    2
David      1
Name: count, dtype: int64
Carros
Ford    3
GM      2
Name: count, dtype: int64

In [47]:
# Estrutura de repetição - Ex.6

#Utilizar o while para calcular estatísticas descritivas de colunas numéricas, mas interrompendo
# loop quando um determinado critério é atingido.

dados = {'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Emilly'],
         'Idade': [25, 30, 35, 40, 45],
         'Salário': [5000, 6000, 7000, 8000, 9000]}

df = pd.DataFrame(dados)
df

      Nome  Idade  Salário
0    Alice     25     5000
1      Bob     30     6000
2  Charlie     35     7000
3    David     40     8000
4   Emilly     45     9000

In [43]:
# Média Móvel

soma_salarios = 0
contador = 0
i = 0

while i < len(df):
    soma_salarios += df['Salário'][i]
    contador += 1
    media_salarios = soma_salarios / contador
    print("A média salários é:", media_salarios)
    if media_salarios > 7000:
        break
    print(media_salarios)
    i += 1

A média salários é: 5000.0
5000.0
A média salários é: 5500.0
5500.0
A média salários é: 6000.0
6000.0
A média salários é: 6500.0
6500.0
A média salários é: 7000.0
7000.0

In [50]:
# Calcular bonus para o funcionário usando função def - Ex. 7
# Crie um programa para calcular bonus de 10% para os funcionários, mas mostre o bônus para 
# cada funcionário.

def calcula_bonus(salario):
    return salario * 0.1

bonus = []

for indice, linha in df.iterrows():
    bonus.append(calcula_bonus(linha['Salário']))

print(bonus)

[500.0, 600.0, 700.0, 800.0, 900.0]

In [62]:
# Calcule a média Idade e Salário e retorne apenas um 
# dataframe contendo as duas informações - Ex. 8

media_idade = df['Idade'].mean()
media_salario = df['Salário'].mean()

df_final = {'media_idade': [media_idade],
            'media_salario': [media_salario]}

{'media_idade': [35.0], 'media_salario': [7000.0]}

In [65]:
df = pd.DataFrame(df_final)

   media_idade  media_salario
0         35.0         7000.0

In [67]:
dados = {'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Emilly'],
         'Idade': [25, 30, 35, 40, 45],
         'Salário': [5000, 6000, 7000, 8000, 9000]}

df = pd.DataFrame(dados)

var_1 = df[['Idade']]
var_2 = df[['Salário']]

In [70]:
df_concat = pd.concat([var_1, var_2], axis=1)
df_concat

   Idade  Salário
0     25     5000
1     30     6000
2     35     7000
3     40     8000
4     45     9000